<div class="all_in_one_store" id="main_widget">

</div>

<script>

window.Scrolltop = {{ app.metafields.ScrollTopToBottom.items }};

</script>
    <allinone></allinone>
    <scrolltotop></scrolltotop>
    <product-review></product-review>
{% schema %}
{
 "name": " All in One store",
"javascript": "script.js",
"target": "body",
 "settings":[]
}

{% endschema %}